html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My css from here*/

/*index*/

.menu-flotante-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 30px 10px 30px;
}

.logo:hover{
    transform: scale(1.5) translateX(20px);
}

.menu-flotante-derecha{
display:flex;
align-items: center;
gap:60px;
}

.button-blue{
    background:#022A4E;
    color:white;
    padding:10px 10px 10px 10px;
}

.button-blue:hover{
    background:#1b9de9;
    color:black;
    transform: scale(1.5) translateX(-20px);
}



.background-blue-index{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #E3F4FE;
    height:500px;
}

.button-intobackground{
    background-color: #16CBA0;
}


.carrousel{
    display:flex;
    gap:20px;
}

/*Valoración pacientes*/

.body{
    background-color: yellowgreen;
    display:flex;
}

.formulario_container{
    /*Flex*/
    display:flex;
    flex-wrap: wrap; /*mobile first property*/
    flex-grow: 0.8;
    text-align: center;
    justify-content: center;
    gap:20px;
    width: 80vw;
    margin:30px 30px 30px 30px;
    /*Sombra*/
    -webkit-box-shadow: -9px 46px 113px 0px rgba(191,17,191,1);
    -moz-box-shadow: -9px 46px 113px 0px rgba(191,17,191,1);
    box-shadow: -9px 46px 113px 0px rgba(191,17,191,1);
    background-color: antiquewhite;
    
}

.formulario_linea{
    display:flex;
    flex-wrap: wrap; /*mobile first property*/
    justify-content: space-between;
    text-align: center;
    width: 75vw;
    margin:10px 2px 2px 10px;
    
}

.formulario_columnas{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0.9;
    /* Flex grow permite adaptar el crecimiento de algo de acuerdo con los demás
    elementos de forma automatica*/
    align-items: center;
    text-align: center;
    background-color: brown;
    padding:10px 40px 20px 40px;
    gap:3px;
}

input{
    text-align: center;
}

.titulo-formulario{
    font-weight: 700;
    border:4px red solid;
    font-size: large;
}

.experiment_hidden{
    opacity: 100%;
}

.experiment.hidden{
    opacity:0%;
}